@model AddTestimonialViewModel
@{
	ViewData["Title"] = "Add";
	Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
	<label>Ad</label>
	<input type="text" asp-for="Name" class="form-control" />
	<br />
	<label>Ünvan</label>
	<input type="text" asp-for="Title" class="form-control" />
	<br />
	<label>Açıklama</label>
	<input type="text" asp-for="Description" class="form-control" />
	<br />
	<label>Görsel</label>
	<input type="text" asp-for="Image" class="form-control" />
	<br />
	<button class="btn mb-1 btn-rounded btn-outline-success">Ekle</button>
</form>

