@model List<ResultServiceDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>Başlık</th>
		<th>Açıklama</th>
		<th>Sil</th>
		<th>Güncelle</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.ServiceID</td>
			<td>@item.Title</td>
			<td>@item.Description</td>
			<td><a href="/Service/Delete/@item.ServiceID" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
			<td><a href="/Service/Update/@item.ServiceID" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>

		</tr>
	}
</table>
<td><a href="/Service/Add/" class="btn btn-info">Hizmet Ekle</a></td>

