<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
	<div class="container pb-5">
		<div class="row g-5">
			<div class="col-md-6 col-lg-4">
				<div class="bg-primary rounded p-4">
					<a href="index.html"><h1 class="text-white text-uppercase mb-3">Otelizm</h1></a>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<h6 class="section-title text-start text-primary text-uppercase mb-4">İletişim</h6>
				<p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>İstanbul/Maltepe</p>
				<p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0543 912 2607</p>
				<p class="mb-2"><i class="fa fa-envelope me-3"></i>sibelsariibas@gmail.com</p>
				<div class="d-flex pt-2">
					<a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="copyright">
				<div class="row">
					<div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
						&copy; <a class="border-bottom" href="#">Otelizm</a>, Tüm Hakları Saklıdır.
						Developed by Sibel SARIBAS
					</div>
				</div>
			</div>
		</div>
	</div>
</div>